<div class="bg-white p-8 rounded-md shadow-md w-full max-w-md mx-auto mt-20">
    <h2 class="text-3xl text-center font-extrabold text-gray-800 mb-4">Login</h2>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="login()">
        <!-- Email Input -->
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600">Email Address</label>
            <input type="text" id="email" name="email"
                class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
                placeholder="john.doe@example.com" formControlName="username" required>
        </div>

        <!-- Password Input -->
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
            <input type="password" id="password" name="password"
                class="mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
                placeholder="********" formControlName="password" required>
        </div>

        <!-- Submit Button -->
        <button type="submit"
            class="bg-pink-500 text-white py-3 px-4 w-full rounded-md hover:bg-pink-700 focus:outline-none focus:ring focus:border-pink-300">Login</button>
    </form>

    <!-- Additional Options -->
    <div class="mt-4 flex items-center justify-between text-sm text-gray-600">
        <a href="#" class="hover:underline">Forgot Password?</a>
        <a href="#" class="hover:underline">Create Account</a>
    </div>
</div>